{{ define "content" }}
<div id="content" class="container">
  <div class="row">
    <div class="col">
      <h3>AWS</h3>

      <ul class="list-group">
        {{ range $_, $compute := $.computes }}
        {{ with $compute }}
        <li class="list-group-item d-flex justify-content-between align-items-center">
          {{ .GetId }}
          <span class="badge badge-info">{{ .GetComputeType }}</span>
          <span class="badge badge-success">Running</span>
        </li>
        {{ end }}
        {{ end }}
      </ul>
    </div>

    <div class="col"></div>
    <div class="col"></div>
  </div>
</div>
{{ end }}
